.main-content {
  padding: 0 50px;
  margin-top: 20px;
  border-bottom: 1px solid white;
}

.brand,
.brand-abbr {
  padding: 30px 0;
  text-align: center;
  color: white;
  font-size: 18px;
  transition: 0.3s;
}

.brand .brand-drf {
  color: #1890ff;
  font-weight: 600;
  transition: 0.8s ease-in-out;
}

.brand:hover .brand-drf {
  color: white;
}

/* Main Header */

.main-header {
  padding: 1rem;
}

.main-header .header-title {
  margin-right: 1rem;
  font-size: 1rem;
}

.main-header .header-current-view {
  margin-left: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #002140;
}

.main-header .circle-right {
  font-size: 1.2rem;
}

/* SummaryTable */

.summary-table-container {
  padding-top: 20px;
}

.custom-btn {
  letter-spacing: 1px;
  margin: 0 5px 10px 0;
}

td span {
  color: black;
}

.loading-summary-table {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.loading-summary-table h2 {
  letter-spacing: 1.5px;
  color: #1890ff;
}

.loading-error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.loading-error h2 {
  color: maroon;
  letter-spacing: 2px;
}

.tabPane {
  overflow-x: scroll;
}

/* Highlight */

.highlightMissingBRDDueDate {
  background-color: #bbdefb;
}

.highlightMissingDEVDueDate {
  background-color: #76d7d6;
}

.highlightMissingBADueDate {
  background-color: #ff9999;
}

.highlightMissingQADueDate {
  background-color: #ffd180;
}

.highlightMissingBAResource {
  background-color: #ccbadc;
}

.highlightMissingDEVResource {
  background-color: #a5d6a7;
}

.highlightMissingQAResource {
  background-color: #b89afe;
}

.hide {
  display: none;
}
